---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="mb-16 text-center relative">
  <h2 class="text-4xl font-cyber font-bold mb-3 text-cyber-red relative inline-block">
    <span class="relative z-10">{title}</span>
    <div class="absolute inset-0 bg-cyber-red/20 blur-xl"></div>
  </h2>
  {subtitle && (
    <p class="text-white/70 font-cyber text-lg relative inline-block">
      <span class="relative z-10">{subtitle}</span>
      <div class="absolute inset-0 bg-cyber-red/10 blur-lg"></div>
    </p>
  )}
  <div class="absolute -bottom-4 left-1/2 transform -translate-x-1/2 w-24 h-[2px] bg-gradient-to-r from-transparent via-cyber-red/50 to-transparent"></div>
  <div class="absolute -bottom-4 left-1/2 transform -translate-x-1/2 w-16 h-[2px] bg-gradient-to-r from-transparent via-cyber-red/30 to-transparent translate-y-2"></div>
</div>